@font-face {
  font-family: hPotterFont;
  src: url('./fonts/HARRYP__.TTF');
}

hr {
  color: #ffd140;
}

.student,
.expelled {
  min-height: 40vh;
}

.student {
  background-color: gray;
}

.expelled {
  background-color: black;
}
